<div id="contents">
    <h1><a href="#" title="Hello world!"><%= post.title %></a></h1>         
    <div class="share">
        <a href="http://www.facebook.com/share.php?u=<%= uriencode(url) %>">
           <img src="/images/icon/facebook_32.png" alt="facebook_32" width="32" height="32" /></a>
        <a href="http://twitter.com/home?status=<%= post.title %> <%- url %>">
           <img src="/images/icon/twitter_32.png" alt="twitter_32" width="32" height="32" /></a>
        <a href="http://del.icio.us/post?v=3&noui=yes&jump=close&url=<%= uriencode(url) %>&title=<%= uriencode(post.title) %>">
           <img src="/images/icon/delicious_32.png" alt="delicious_32" width="32" height="32" /></a>
        <a href="http://digg.com/submit?url=<%= uriencode(url) %>&phase=2">
           <img src="/images/icon/digg_32.png" alt="digg_32" width="32" height="32" /></a>
        <a href="https://plus.google.com/share?url=<%= uriencode(url) %>">
           <img src="/images/icon/google_plus_32.png" alt="google_plus_32" width="32" height="32" /></a>
        <a href="mailto:?subject=Share%20it&amp;body=<%= uriencode(url) %>">
           <img src="/images/icon/email_32.png" alt="email_32" width="32" height="32" /></a>
    </div>
    <div class="flexslider">
       <ul class="slides">
        <% for(var i = 0; i < post.imageurls.length; i++) { %>
            <li>
                <img src="<%- post.imageurls[i].url %>"/>
                <p class="flex-caption"><%= post.imageurls[i].caption ? post.imageurls[i].caption : "" %></p>
            </li>
        <% } %>
       </ul>
    </div>
    <div class="post">                
        <%- post.body %>
    </div>
    <% if(post.address) { %>
        <div id="mapinfo">
            <div class="address"><%= post.address %></div>
            <div class="name"><%= post.label %></div>
        </div>
        <div id="gmap"></div>
    <% } %>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'tradnara'; // required: replace example with your forum shortname
        var disqus_developer = 1;

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                
    <div class="info">
    Written by the Trad Nara reporter <a href="#"><%= post.author %></a>, and posted on the <a href="#"><%= post.created %></a>.
    </div>
</div>