<div id="contents">
    <h1><a href="#" title="Hello world!"><%= post.title %></a></h1>
    <div class="info">
        by <a href="#"><%= post.author %></a> at <%= format_date(post.created) %>
    </div>

    <div class="share">
        <fb:like send="false" layout="button_count" width="100" show_faces="false" colorscheme="light"></fb:like>
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <g:plusone size="medium"></g:plusone>
        <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;">Share on Tumblr</a>
    </div>
    <div class="flexslider">
       <ul class="slides">
        <% for(var i = 0; i < post.imageurls.length; i++) { %>
            <li>
                <img src="<%- post.imageurls[i].url %>"/>
                <p class="flex-caption"><%= post.imageurls[i].caption ? post.imageurls[i].caption : "" %></p>
            </li>
        <% } %>
       </ul>
    </div>
    <div class="post">                
        <%- post.body %>
    </div>
    <% if(post.address) { %>
        <div id="mapinfo">
            <div class="address"><%= post.address %></div>
            <div class="name"><%= post.label %></div>
        </div>
        <div id="gmap"></div>
    <% } %>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'tradnara'; // required: replace example with your forum shortname
        var disqus_developer = 1;

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
<div id="sidebar">
    <ul>
        <li class="widget-container">
            <h2>Advertisement</h2>  
            <ul>
                <li><img src="/images/ad.gif" /></li>
                <li><img src="/images/ad.gif" /></li>
            </ul>
        </li>
    </ul>
</div>