<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>TRAD NARA  &raquo; <%= post.title %></title>

	<link rel="shortcut icon" href="https://trads-jp.com/wp/wp-content/themes/tradnara/images/favicon.ico"/>

    <%- stylesheet_link_tag('http://fonts.googleapis.com/css?family=Droid+Serif', 'http://fonts.googleapis.com/css?family=Droid+Sans', 'post_style', 'flexslider') %>
    <%- javascript_include_tag('jquery-1.7.2.min', 'jquery.flexslider', 'post_script', 'http://maps.google.com/maps/api/js?sensor=false', 'jquery.gmap3') %>
</head>
<body>
	<div id="wrapper">
    	<div id="header">
        	<h1>TRAD NARA  &raquo; <%= post.title %></h1>
    	</div>
        <div id="container">
        	<div id="contents">
        	   <div class="post">
            	   <h1><a href="#" title="Hello world!"><%= post.title %></a></h1>    	   
            	   <div class="util-buttons">
            	       <ul>
                    	   <li><a class="share-toggle" href="#">SHARE</a></li>
               	       </ul>
            	   </div>
            	   
            	   <div class="share">
						<a href="http://www.facebook.com/share.php?u=<%= uriencode(url) %>">
                           <img src="/images/icon/facebook_32.png" alt="facebook_32" width="32" height="32" /></a>
                        <a href="http://twitter.com/home?status=<%= post.title %> <%- url %>">
                           <img src="/images/icon/twitter_32.png" alt="twitter_32" width="32" height="32" /></a>
                        <a href="http://del.icio.us/post?v=3&noui=yes&jump=close&url=<%= uriencode(url) %>&title=<%= uriencode(post.title) %>">
                           <img src="/images/icon/delicious_32.png" alt="delicious_32" width="32" height="32" /></a>
                        <a href="http://digg.com/submit?url=<%= uriencode(url) %>&phase=2">
                           <img src="/images/icon/digg_32.png" alt="digg_32" width="32" height="32" /></a>
                        <a href="#">
                           <img src="/images/icon/google_plus_32.png" alt="google_plus_32" width="32" height="32" /></a>
                        <a href="#">
                           <img src="/images/icon/evernote_32.png" alt="evernote_32" width="32" height="32" /></a>
                        <a href="#">
                           <img src="/images/icon/email_32.png" alt="email_32" width="32" height="32" /></a>
                    </div>    	     
                    <div class="flexslider">
                	   <ul class="slides">
                        <% for(var i = 0; i < post.imageurls.length; i++) { %>
                    	   <li><img src="<%- post.imageurls[i].url %>"/></li>
                        <% } %>
                       </ul>
                    </div>
                                
                    <%- post.body %>

                    <% if(post.address) { %>
                    <div id="gmap">
                        <div class="address"><%= post.address %></div>
                        <div class="name"><%= post.label %></div>
                    </div>
                    <% } %>
                                
            	   <div class="info">
            	       Written by the Trad Nara reporter <a href="#"><%= post.author %></a>, and posted on the <a href="#"><%= post.created %></a>.
            	   </div>
        	   </div>
        	</div>
    	</div>
                	
        <div id="sidebar">
            <ul>
                <li class="widget-container">
                    <h2>Advertisement</h2>	
                    <ul>
        				<li>Foo</li>
                        <li>Hoge</li>
                        <li>Foo Hoge</li>
                        <li>Foo Foo</li>
                        <li>Foo</li>
        			</ul>
        		</li>
        	</ul>
        </div>

        <div id="footer">
            Copyright &copy; 2012 TRAD NARA. All Rights Reserved.
        </div>
    </div>
</body>
</html>