<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title><%= title %></title>
	
    <%- stylesheet_link_tag('top_style', 'font-awesome', 'jquery.powertip') %>
	<%- javascript_include_tag('jquery-1.8.2.min', 'jquery.contenthover.min', 'jquery.easing.1.3', 'jquery.color', 'spin.min', 'jquery.animate-shadow-min', 'jquery.powertip-1.1.0.min', 'script') %>
</head>
<body>
    <div id="wrapper">
        <div id="header">
			<div id="title">
           		<a href="/"><h1>TRAD NARA</h1></a>
			</div>
			<% if(user) { %>
			<div id="auth">
				<p id="username"><%= user.name %></p>
        	</div>
			<% } %>
		</div>
    
        <div id="navigation">
            <ul>
                <li><a href="/"><div class="nav-item-title">HOME</div><div class="nav-item-desc">Order by popularity</div></a></li>
                <li><a href="/timeline"><div class="nav-item-title">TIMELINE</div><div class="nav-item-desc">Order by post date</div></a></li>
                <li><a href="/favorites"><div class="nav-item-title">FAVORITES</div><div class="nav-item-desc">View my favorites</div></a></li>
                <li><a href="/authors"><div class="nav-item-title">AUTHORS</div><div class="nav-item-desc">Account Settings</div></a></li>
                <li><a href="/login"><div class="nav-item-title">LOGIN</div><div class="nav-item-desc">Log in to Trad Nara</div></a></li>
            </ul>
        </div>
    
        <div id="container">
            <div id="loading"></div>
			<%- body %>
   	   </div>
        
        <div id="footer">Copyright &copy; <%= new Date().getFullYear() %> <a href="#" class="top-scroll">Trad Nara</a>. All Rights Reserved.</div>
    </div>
</body>
</html>
