
<% for(var i = 0; i < posts.length; i++) { %>
	<div class="post-box">
		<img src="<%- posts[i].topimage %>" alt="thumbnail" width="300" height="200"/>
		<div class="contenthover"><%- posts[i].lead %></div>
                
		<div class="title-author">
			<h2 class="post-title"><a href="/post/<%- posts[i].id %>"><%= posts[i].title %></a></h2>
			<div class="post-author"><span class="post-author-by">by </span><a href="#"><%= posts[i].author %></a></div>
		</div>
		<div class="meta">
			<div class="meta-stats">
				<a class="meta-view" href="#" title="<%= posts[i].viewCount %> views"><i class="icon-eye-open"></i><%= posts[i].viewCount %></a>
				<a class="meta-like" href="#" title="0 likes"><i class="icon-thumbs-up"></i>0</a>
				<a class="meta-comments" href="#" title="0 comments"><i class="icon-comment-alt"></i>0</a>
			</div>
			<a class="meta-favorite" href="#" title="Favorite this post!">
				<i class="icon-star-empty"></i>
			</a>
		</div>
	</div>
<% } %>
